html,
body {
    height         : 100%;
    scroll-behavior: smooth;
    width          : 100%;
}

body {
    color      : var(--hm-white);
    font-family: var(--hm-font-primary);
    font-weight: 300;
    font-size  : 16px;
    line-height: 1.6;
    min-height : 100%;
}

#index {
    background-color: var(--hm-bg-color);
}

a {
    text-decoration: none;
}

.txt-small {
    font-size  : var(--hm-font-12);
    font-weight: 300;
    line-height: 16px;
    padding    : 0 2%;
}

.container {
    margin   : 0 auto;
    max-width: 1140px;
    width    : 100%;
}

hr.line {
    border    : 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

hr.line-magenta {
    background-color: var(--hm-pink);
    border-width    : 2px;
    margin          : 0 auto 20px;
    width           : 50px;
}

.account-bg {
    background-image   : url("../../images/account-bg-gradient.jpg");
    background-position: center center;
}

.account-title {
    font-size  : var(--hm-font-32);
    font-weight: 300;
    line-height: 40px;
    margin     : 20px 0 40px;
    text-align : center;
}