html,
body {
    height         : 100%;
    scroll-behavior: smooth;
    width          : 100%;
}

body {
    background-color: var(--hm-bg-color);
    color           : var(--hm-white);
    font-family     : var(--hm-font-primary);
    font-weight     : 300;
    font-size       : 1.25rem;
    line-height     : 1.6;
}

a {
    text-decoration: none;
}

.txt-small {
    font-size  : var(--hm-font-12);
    font-weight: 300;
    line-height: 16px;
    padding    : 0 2%;
}

.container {
    margin   : 0 auto;
    max-width: 1140px;
    width    : 100%;
}