.home-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 49.02%, rgba(0, 0, 0, 0.008) 52.42%, rgba(0, 0, 0, 0.035) 55.82%, rgba(0, 0, 0, 0.082) 59.22%, rgba(0, 0, 0, 0.15) 62.62%, rgba(0, 0, 0, 0.23) 66.02%, rgba(0, 0, 0, 0.333) 69.41%, rgba(0, 0, 0, 0.443) 72.81%, rgba(0, 0, 0, 0.557) 76.21%, rgba(0, 0, 0, 0.667) 79.61%, rgba(0, 0, 0, 0.77) 83.01%, rgba(0, 0, 0, 0.85) 86.41%, rgba(0, 0, 0, 0.918) 89.8%, rgba(0, 0, 0, 0.965) 93.2%, rgba(0, 0, 0, 0.992) 96.6%, rgb(0, 0, 0) 100%);
    height          : 650px;
    margin-bottom   : 36px;
    overflow        : hidden;
    opacity         : 1;
    position        : absolute;
    top             : 0;
    width           : 100%;
}

@media screen and (min-width: 651px) and (max-width: 768px) {
    .home-main {
        height: 432px;
    }
}

@media screen and (min-width: 551px) and (max-width: 650px) {
    .home-main {
        height: 288px;
    }
}

@media screen and (max-width: 550px) {
    .home-main {
        height: 512px;
    }
}

.home-poster {
    align-items        : center;
    background         : linear-gradient(rgba(0, 0, 0, 0) 49.02%, rgba(0, 0, 0, 0.008) 52.42%, rgba(0, 0, 0, 0.035) 55.82%, rgba(0, 0, 0, 0.082) 59.22%, rgba(0, 0, 0, 0.15) 62.62%, rgba(0, 0, 0, 0.23) 66.02%, rgba(0, 0, 0, 0.333) 69.41%, rgba(0, 0, 0, 0.443) 72.81%, rgba(0, 0, 0, 0.557) 76.21%, rgba(0, 0, 0, 0.667) 79.61%, rgba(0, 0, 0, 0.77) 83.01%, rgba(0, 0, 0, 0.85) 86.41%, rgba(0, 0, 0, 0.918) 89.8%, rgba(0, 0, 0, 0.965) 93.2%, rgba(0, 0, 0, 0.992) 96.6%, rgb(0, 0, 0) 100%), url("../../images/venu-poster.jpg");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: 50% 50%;
    position           : relative;
    height             : 600px;
    width              : 100%;
}

/*.home-desc {
    background-color: darkcyan;
    bottom          : 100px;
    display         : var(--hm-display-flex);
    font-family     : var(--hm-font-second);
    flex-direction  : column;
    left            : 60px;
    padding         : 2%;
    position        : absolute;
    max-width: 428px;
    z-index         : 9999;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .home-desc {
        bottom: 50px;
        left  : 30px;
    }
}

@media screen and (max-width: 600px) {
    .home-desc {
        bottom    : 0;
        left      : 0;
        text-align: center;
    }
}

.home-desc img {
    height: 138px;
    width : 460;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .home-desc img {
        height: 70px;
        width : 232px;
    }
}

.home-desc strong {
    font-size     : var(--hm-font-14);
    font-weight   : 600;
    letter-spacing: 0.5;
    text-transform: uppercase;
    line-height   : 18px;
}

.home-desc p {
    font-weight: 400;
    font-size  : var(--hm-font-16);
    line-height: 24px;
    word-break : keep-all;
}

*/