#signIn {
    height: 100%;
}

@media screen and (min-width: 998px) {
    #signIn {
        height: auto !important;
    }
}

/*** start main ***/
.signIn-main {
    font-family: var(--hm-font-second);
    font-size  : var(--hm-font-16);
    padding-top: 80px;
    width      : 100%;
}

.signIn-container {
    align-items   : center;
    display       : var(--hm-display-flex);
    flex-direction: column;
    max-width     : 875px;
    margin        : 0 auto;
    width         : 100%;
}

@media screen and (max-width: 768px) {
    .signIn-container {
        max-width: 590px;
    }
}

@media screen and (max-width: 640px) {
    .signIn-container {
        max-width: 485px;
    }
}

.signIn-title {
    color         : var(--hm-white-rgb);
    font-size     : var(--hm-font-32);
    font-weight   : 600;
    letter-spacing: 0;
    line-height   : 34px;
    margin        : 28px 0;
}

.signIn-content {
    border-radius: 8px;
    padding      : 20px 4%;
    width        : 100%;
}

@media screen and (min-width: 600px) {
    .signIn-content {
        background-color: rgba(221, 221, 221, 0.06);
        padding         : 60px;
    }
}

@media screen and (max-width: 640px) {
    .signIn-content {
        padding: 28px;
    }
}

.signIn-paragraph {
    color        : var(--hm-white-rgb);
    font-weight  : normal;
    line-height  : 18px;
    margin-bottom: 20px;
}

.singIn-form {
    width: 100%;
}

.signIn-item {
    padding : 10px 10px 0 10px;
    position: relative;
    width   : 100%;
}

.signIn-item input {
    background-color: rgba(0, 0, 0, 0.2);
    border          : 0.5px solid rgba(255, 255, 255, 0.4);
    border-radius   : 4px;
    color           : var(--hm-white);
    font-family     : var(--hm-font-second);
    font-size       : var(--hm-font-16);
    font-weight     : 400;
    height          : 56px;
    padding-left    : 12px;
    width           : 100%;
}

.signIn-item input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#login-btn {
    color  : inherit;
    display: inline-block;
}

.signIn-item a {
    right: 20px;
    top  : 28px;
}

.signIn-btn {
    align-items    : center;
    display        : var(--hm-display-flex);
    gap            : 20px;
    justify-content: flex-start;
    margin-top     : 20px;
}

@media screen and (min-width: 768px) {
    .signIn-btn {
        flex-direction: row;
    }
}

.signIn-btn button {
    font-size: var(--hm-font-16);
}

.signIn-link {
    color      : rgb(145, 129, 248);
    display    : inline-block;
    font-family: var(--hm-font-second);
    font-weight: 600;
    line-height: 18px;
    padding    : 12px 0;
    transition : var(--hm-transition);
    text-align : center;
}

@media screen and (max-width: 600px) {
    .signIn-link {
        font-size: var(--hm-font-14);
    }
}

.signIn-link:hover {
    filter: brightness(1.3);
}

.signIn-line {
    align-items    : center;
    display        : var(--hm-display-flex);
    gap            : 10px;
    justify-content: center;
    margin         : 34px 0;
    width          : 100%;
}

.signIn-line span {
    align-items   : center;
    display       : var(--hm-display-flex);
    font-weight   : 600;
    flex-grow     : auto;
    line-height   : 18px;
    position      : relative;
    text-transform: uppercase;
}

.signIn-underline {
    background-color: rgba(255, 255, 255, 0.3);
    height          : 2px;
    flex-grow       : 1;
}

.singIn-help {
    padding   : 30px 2%;
    text-align: center;
    width     : 100%;
}

/*** end main ***/