#f-carousel {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.992) 6.67%, rgba(0, 0, 0, 0.965) 13.33%, rgba(0, 0, 0, 0.918) 20%, rgba(0, 0, 0, 0.85) 26.67%, rgba(0, 0, 0, 0.77) 33.33%, rgba(0, 0, 0, 0.667) 40%, rgba(0, 0, 0, 0.557) 46.67%, rgba(0, 0, 0, 0.443) 53.33%, rgba(0, 0, 0, 0.333) 60%, rgba(0, 0, 0, 0.23) 66.67%, rgba(0, 0, 0, 0.15) 73.33%, rgba(0, 0, 0, 0.082) 80%, rgba(0, 0, 0, 0.035) 86.67%, rgba(0, 0, 0, 0.008) 93.33%, rgba(0, 0, 0, 0) 100%);
    padding         : 36px 2% 0px;
}

.carousel {
    font-family  : var(--hm-font-second);
    height       : auto;
    margin-bottom: 36px;
    overflow-x   : hidden;
    padding      : 0 2%;
    width        : 100%;
}

.carousel-container {
    display       : var(--hm-display-flex);
    flex-direction: column;
    gap           : 15px;
    max-width     : 1400px;
    margin        : 0 auto;
    position      : relative;
    width         : 100%;
}

.carousel-title {
    font-weight   : 600;
    font-size     : var(--hm-font-18);
    line-height   : 20px;
    letter-spacing: 0;
    margin-bottom : 8px;
    padding-right : 2%;
}

.carousel-subtitle {
    color        : rgba(var(--hm-white-rgb), 0.8);
    font-weight  : 400;
    font-size    : var(--hm-font-16);
    line-height  : 18px;
    padding-right: 2%;
}

.carousel-content {
    align-items       : center;
    display           : var(--hm-display-flex);
    gap               : 12px;
    justify-items     : center;
    overflow-y        : hidden;
    overflow-x        : scroll;
    scroll-behavior   : smooth;
    scroll-snap-type  : x mandatory;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width   : none;
    /** Firefox */
    transition        : var(--hm-transition);
}

@media screen and (min-width: 768px) {
    .carousel-content::-webkit-scrollbar {
        height: 6px;
    }

    .carousel-content::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .carousel-content::-webkit-scrollbar-thumb {
        background-color: rgba(166, 154, 154, 0.3);
        border-radius   : 8px;
    }

    /*.carousel-content::-webkit-scrollbar {
     display: none;
}*/
}

.carousel-card {
    background-color: rgba(0, 0, 0, 0);
    border-radius   : 4px;
    flex            : 0 0 100%;
    margin-bottom   : 10px;
    width           : 100%;
}

.carousel-img {
    border-radius: 4px;
    border       : 2.5px solid transparent;
    height       : 100%;
    position     : relative;
    transition   : var(--hm-transition);
    width        : 100%;
}

.carousel-img:hover {
    border-color: rgb(117, 62, 239);
    cursor      : pointer;
}

.carousel-img img {
    border-radius: 4px;
    height       : 100%;
    width        : 100%;
}

.carousel-huge {
    flex-basis: auto;
    height    : 100%;
    width     : 100%;
}

@media screen and (min-width: 998px) {
    .carousel-huge {
        height   : 510px;
        max-width: 340px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .carousel-huge {
        height   : 348px;
        max-width: 232px;
    }
}

.carousel-big {
    width: 100%;
}

@media screen and (min-width: 998px) {
    .carousel-big {
        height   : 258px;
        max-width: 458px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .carousel-big {
        height   : 200px;
        max-width: 352px;
    }
}

.carousel-mid-vertical {
    height: 195px;
}

@media screen and (min-width: 600px) {
    .carousel-mid-vertical {
        max-width: 340px;
    }
}

.carousel-mid-horizontal {
    flex-basis: auto;
    width     : 100%;
}

@media screen and (min-width: 600px) {
    .carousel-mid-horizontal {
        height   : 330px;
        max-width: 220px;
    }
}

.carousel-small {
    height    : 160px;
    flex-basis: auto;
    max-width : 160px;
}

@media screen and (min-width: 768px) {
    .carousel-small {
        height   : 222px;
        max-width: 222px;
    }
}

.save-btn {
    background-color: rgb(221, 221, 221);
    box-shadow      : rgba(0, 0, 0, 0.35) 0px 2px 8px;
    bottom          : 12px;
    border-radius   : 50%;
    display         : inline-block;
    height          : 36px;
    opacity         : 0;
    position        : absolute;
    right           : 18px;
    transition      : var(--hm-transition);
    transform       : scale(1);
    width           : 36px;
    z-index         : 99;
}

.save-btn:hover {
    background-color: var(--hm-white);
    transform       : scale(1.1);
}

.save-btn img {
    height   : 20px;
    transform: translate(40%, 40%);
    width    : 20px;
}

.carousel-img:hover .save-btn {
    opacity: 1;
}

.carousel-personagem {
    background-color: rgba(0, 0, 0, 0);
    flex            : 0 0 auto;
    margin-bottom   : 10px;
    height          : 160px;
    width           : 160px;
}

@media screen and (min-width: 998px) {
    .carousel-personagem {
        height: 222px;
        width : 222px;
    }
}

.personagem-card {
    display : inline-block;
    height  : 100%;
    position: relative;
    width   : 100%;
}

.personagem-img,
.personagem-hover {
    transition: var(--hm-transition);
}

.personagem-hover {
    inset   : 0;
    opacity : 0;
    position: absolute;
}

.carousel-personagem:hover .personagem-img {
    opacity: 0;
}

.carousel-personagem:hover .personagem-hover {
    cursor : pointer;
    opacity: 1;
}

#f-carousel .arrow-animated {
    font-size: var(--hm-font-18);
    right    : 10px;
    top      : 10px;
}