.faq-container {
    padding: 0 15px;
    width  : 100%;
}

.faq-list {
    align-items   : start;
    display       : var(--hm-display-flex);
    flex-direction: column;
    margin-top    : 10px;
    width         : 100%;
}

.faq-list li {
    width: 100%;
}

.faq-list button {
    align-items   : center;
    background    : transparent;
    border        : none;
    color         : rgb(158, 134, 255);
    cursor        : pointer;
    display       : var(--hm-display-flex);
    font-weight   : 500;
    font-family   : var(--hm-font-primary);
    font-size     : var(--hm-font-20);
    flex-wrap     : wrap;
    hyphens       : auto;
    line-height   : 32px;
    padding       : 20px 24px 20px 0px;
    position      : relative;
    text-align    : left;
    /* white-space: break-spaces; */
    width         : 100%;
}

.accordion-menu {
    align-self: center;
    display   : var(--hm-display-flex);
    height    : 1.25rem;
    position  : absolute;
    right     : 0;
    top       : 50%;
    transform : translateY(-50%);
    width     : 1.25rem;
}

.accordion-menu::before,
.accordion-menu::after {
    background-color: rgb(158, 134, 255);
    content         : "";
    height          : 100%;
    position        : absolute;
    transition      : transform 0.35s ease-out 0s;
    width           : 0.1rem;
}

.accordion-menu::before {
    transform: rotate(0deg);
}

.accordion-menu::after {
    transform: rotate(-90deg);
}

.accordion-panel {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display   : block;
    max-height: 0px;
    overflow  : hidden;
    transition: max-height 2s cubic-bezier(0, 1, 0, 1) 0s;
    text-align: left;
}

.accordion-panel::before {
    content: "";
    display: block;
    height : 0.75rem;
}

.accordion-panel>p,
.accordion-panel ul {
    font-size  : var(--hm-font-20);
    line-height: 32px;
    font-weight: 500;
}

.accordion-panel p a {
    color     : var(--hm-magenta);
    transition: var(--hm-transition);
}

.accordion-panel p a:hover {
    color: var(--hm-white);
}

.device-container {
    display  : var(--hm-display-flex);
    flex-wrap: wrap;
    margin   : 24px 0;
}

@media screen and (min-width: 768px) {
    .device-container {
        flex-wrap: nowrap;
    }
}

.device-card {
    align-items   : center;
    display       : var(--hm-display-flex);
    flex          : 0 0 100%;
    flex-direction: column;
    padding       : 0 8px;
    text-align    : center;
}

@media screen and (min-width: 768px) {
    .device-card {
        flex: 0 0 25%;
    }
}

.device-card img {
    height: 104px;
    margin: 15px 0;
    width : 150px;
}

.device-card h4 {
    font-size  : var(--hm-font-24);
    font-weight: 500;
    line-height: 30px;
}

.device-card h4::after {
    background: var(--hm-pink);
    content   : "";
    display   : block;
    height    : 2px;
    margin    : 20px auto;
    width     : 70px;
}

.device-card p {
    font-weight  : 500;
    line-height  : 25px;
    margin-bottom: 4px;
}