.footer-container {
    width: 100%;
}

.footer-content {
    align-items   : center;
    display       : var(--hm-display-flex);
    flex-direction: column;
    margin-bottom : 40px;
    width         : 100%;
}

.footer-links,
.footer-legend,
.footer-social {
    text-align: center;
    width     : 100%;
}

.btn-footer {
    border        : 1px solid transparent;
    border-radius : 100px;
    color         : var(--hm-magenta);
    display       : inline-block;
    font-size     : var(--hm-font-12);
    font-weight   : 700;
    letter-spacing: 1.28px;
    line-height   : 20px;
    padding       : 8px 20px;
    outline       : none;
    text-align    : center;
    text-transform: uppercase;
    transition    : var(--hm-transition);
}

.btn-footer:focus {
    box-shadow: var(--hm-link-houver) 0px 0px 0px 3px;
}

.btn-footer:hover {
    color: var(--hm-white);
}

.btn-footer_small {
    color         : var(--hm-magenta);
    display       : inline-block;
    letter-spacing: 0.6pxF;
    padding       : 6px 18px;
    text-align    : center;
    transition    : var(--hm-transition);
}

.btn-footer_small:hover {
    color: var(--hm-white);
}

.footer-legend p {
    color     : var(--hm-magenta);
    display   : inline-block;
    margin-top: 20px;
    padding   : 6px 18px;
    text-align: center;
    max-width : 240px;
    width     : 100%;
}

.footer-social ul {
    display        : var(--hm-display-flex);
    flex-wrap      : wrap;
    justify-content: center;
}

.footer-social ul li {
    display    : inline;
    line-height: 32px;
    padding    : 20px;
    text-align : center;
}

.footer-social ul img {
    vertical-align: middle;
}

.footer-social ul li {
    transition: var(--hm-transition);
}

.footer-social ul li:hover {
    transform: scale(1.3);
}