#free-episode_section {
    position: relative;
}

.free-episode {
    margin: 40px 0;
    width : 100%;
}

.free-episode_content {
    overflow: hidden;
    position: relative;
    width   : 100%;
}

.free-episode_slide {
    align-content     : center;
    display           : var(--hm-display-flex);
    gap               : 14px;
    margin            : 0 2%;
    overflow-y        : hidden;
    overflow-x        : scroll;
    padding           : 5px 0;
    scroll-behavior   : smooth;
    scroll-snap-type  : x mandatory;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width   : none;
    /** Firefox */
}

@media screen and (min-width: 768px) {
    .free-episode_slide {
        margin: 0 28px;
    }

    .free-episode_slide::-webkit-scrollbar {
        height: 5px;
    }

    .free-episode_slide::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .free-episode_slide::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius   : 8px;
    }

    .free-episode_slide::-webkit-scrollbar {
        display: none;
    }
}

.arrow-slide {
    display  : none;
    font-size: var(--hm-font-24);
    position : absolute;
    top      : 50%;
    z-index  : 9999;
}

@media screen and (min-width: 768px) {
    .arrow-slide {
        display: block;
    }
}

.arrow-slide a {
    color     : var(--hm-white);
    transition: var(--hm-transition);
    text-align: center;
}

.arrow-slide a:hover {
    opacity: 0.6;
}

.arrow-left {
    left: 8px;
}

.arrow-right {
    right: 4px;
}

.arrow-animated {
    display  : inline-block;
    font-size: var(--hm-font-24);
    position : absolute;
    top      : 200px;
    right    : 15px;
    z-index  : 9999;
    animation: slideLeft 1.5s ease-in-out infinite both;
}

@media screen and (min-width: 768px) {
    .arrow-animated {
        display: none;
    }
}

.episode-card {
    display          : inline-block;
    flex             : 0 0 100%;
    max-width        : 100%;
    position         : relative;
    scroll-snap-align: start;
}

@media screen and (min-width: 998px) {
    .episode-card {
        flex     : 0 0 24%;
        max-width: 24%;
    }
}

@media screen and (min-width: 600px) and (max-width:998px) {
    .episode-card {
        flex     : 0 0 32%;
        max-width: 32%;
    }
}

.episode-card img {
    width: 100%;
}

.episode-card_desc {
    bottom        : 0;
    cursor        : pointer;
    padding       : 5px 8px;
    position      : absolute;
    text-align    : center;
    text-transform: uppercase;
    width         : 100%;
    z-index       : 999;
}

.episode-card_desc h2 {
    font-size     : var(--hm-font-20);
    font-weight   : 300;
    letter-spacing: 3px;
    line-height   : 24px;
    margin        : 8px 0 12px;
}

.episode-card_desc span {
    color         : var(--hm-pink);
    font-weight   : 700;
    letter-spacing: 1.6px;
    line-height   : 20px;
}

.free-episode_btn {
    text-align: center;
}