.free-episode {
    margin: 40px auto;
    width : 100%;
}

.free-episode>.container {
    background-color: darkcyan;
}

.free-episode_slide {
    align-items       : center;
    align-content     : center;
    display           : var(--hm-display-flex);
    gap               : 10px;
    margin            : 0 8px;
    overflow-x        : scroll;
    overflow-y        : hidden;
    scroll-behavior   : smooth;
    scroll-snap-type  : x mandatory;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width   : none;
    /** Firefox */
}

@media screen and (min-width: 768px) {
    .free-episode_slide {
        margin: 0 28px;
    }

    .free-episode_slide::-webkit-scrollbar {
        display: none;
    }
}

.episode-card {
    display  : inline-block;
    flex     : 1 0 90%;
    max-width: 90%;
    position : relative;
}

@media screen and (min-width: 998px) {
    .episode-card {
        flex     : 1 0 25%;
        max-width: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width:998px) {
    .episode-card {
        flex     : 1 0 30%;
        max-width: 30%;
    }
}

.episode-card img {
    display: block;
}