/*** start header ***/
.header-default {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.96) 6.11%, rgba(0, 0, 0, 0.72) 41%, rgba(0, 0, 0, 0.48) 63.4%, rgba(0, 0, 0, 0.24) 82.67%, rgba(0, 0, 0, 0) 100%); */
    padding         : 20px 2%;
    width           : 100%;
}

.header-container {
    align-items    : center;
    display        : var(--hm-display-flex);
    justify-content: space-between;
    max-width      : 1400px;
    margin         : 0 auto;
    width          : 100%;
}

.center-logo {
    flex-grow : 1;
    text-align: center;
    width     : 98px;
}

.center-logo a {
    display: inline-block;
    margin : 4px 0 0 4px;
    width  : 98px;
}

@media screen and (min-width: 768px) {
    .center-logo {
        width: 134px;
    }

    .center-logo a {
        width: 134px;
    }
}

.center-logo img {
    object-fit: cover;
}

.header-icon {
    height : 36px;
    padding: 4px;
    width  : 36px;
}

.header-icon a {
    display: inline-block;
    height : 24px;
    width  : 24px;
}

.header-icon img {
    height    : 100%;
    object-fit: cover;
}

.header-left,
.header-right {
    align-items: center;
    display    : var(--hm-display-flex);
    gap        : 5px;
    flex-basis : auto;
}

@media screen and (min-width: 768px) {

    .header-left,
    .header-right {
        flex-basis: 225px;
    }
}

.header-left {
    justify-content: flex-start;
    padding-right  : 16px;
}

.header-right {
    justify-content: flex-end;
    padding-left   : 16px;
}

.header-link {
    color         : rgba(255, 255, 255, 0.7);
    display       : inline-block;
    font-family   : var(--hm-font-second);
    font-size     : var(--hm-font-16);
    font-weight   : 600;
    letter-spacing: 0;
    line-height   : 22px;
    padding       : 6px 12px;
    transition    : var(--hm-transition);
    text-align    : center;
}

.header-link:hover {
    color: var(--hm-white);
}


@media screen and (min-width: 998px) {
    .btn-square-white {
        display: block;
    }

    .btn-user-round {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .btn-square-white {
        display: none;
    }

    .header-link {
        display: none;
    }

    .btn-user-round {
        display: block;
    }
}

/*** end header ***/