.kid {
    width: 100%;
}

.kid-container {
    align-items    : center;
    display        : var(--hm-display-flex);
    flex-wrap      : wrap;
    gap            : 20px;
    justify-content: space-around;
    padding        : 0;
}

.kid-item {
    flex-basis: 100%;
    padding   : 0 15px;
}


.kid-item h2 {
    font-size  : var(--hm-font-24);
    font-weight: 500;
    line-height: 38px;
    text-align : center;
}

@media screen and (min-width: 768px) {
    .kid-item h2 {
        font-size: var(--hm-font-32);
    }
}

.kid-item img {
    display   : inline-block;
    height    : 100%;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .kid-item {
        flex-basis: 30%;
    }
}