.main {
    align-items    : center;
    display        : var(--hm-display-flex);
    flex-direction : column;
    height         : 60%;
    justify-content: center;
    position       : relative;
    width          : 100%;
}

@media screen and (min-width: 768px) {
    .main {
        background: transparent;
        height    : 100%;
    }
}

.main-poster {
    background     : url("../../images/background-mob.avif") no-repeat center;
    background-size: cover;
    max-width      : 900px;
    padding        : 16px;
    text-align     : center;
    width          : 100%;
    z-index        : 9998;
}

@media screen and (min-width: 768px) {
    .main-poster {
        background: transparent;
    }
}

.main-poster span {
    font-weight: 300;
    line-height: 20px;
}

@media screen and (min-width: 768px) {
    .main-poster span {
        font-size  : var(--hm-font-40);
        line-height: 64px;
    }
}

.main-poster>span {
    text-transform: uppercase;
}

.main-poster p:not(span, p:last-of-type),
.main-poster p strong {
    font-size     : var(--hm-font-40);
    font-weight   : 700;
    line-height   : 50px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {

    .main-poster p:not(span, p:last-of-type),
    .main-poster p strong {
        font-size  : var(--hm-font-60);
        line-height: 60px;
    }
}

.poster-button {
    margin-top: 40px;
    width     : 100%;
}

.poster-button p {
    font-size  : var(--hm-font-12);
    font-weight: 300;
    line-height: 16px;
}

.main-video {
    display: none;
}

@media screen and (min-width: 768px) {
    .main-video {
        display : block;
        height  : 100%;
        overflow: hidden;
        position: absolute;
        width   : 100%;
        z-index : -2;
    }

    .main-video::before {
        background: linear-gradient(180deg, rgba(3, 3, 40, 0) 0%, rgba(3, 3, 40, 1) 100%);
        bottom    : 0;
        content   : "";
        height    : 50%;
        left      : 0;
        position  : absolute;
        width     : 100%;
        z-index   : 1;
    }

    .main-video video {
        height    : 100%;
        left      : 0;
        object-fit: cover;
        top       : 0;
        width     : 100%;
        z-index   : -1;
    }
}