.plan {
    align-items     : center;
    background-image: url("../../images/plans_background.png");
    display         : var(--hm-display-flex);
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
}

.plan p.plan-subtitle {
    font-size     : var(--hm-font-12);
    font-weight   : 700;
    letter-spacing: 1.2px;
    line-height   : 20px;
    margin        : 60px 0 24px;
    text-transform: uppercase;
}

.plan-list {
    display        : var(--hm-display-flex);
    flex-wrap      : wrap;
    gap            : 20px;
    justify-content: center;
}

.plan-list ul {
    flex: 0 0 100%;
}

@media screen and (min-width: 768px) {
    .plan-list ul {
        flex: 0 0 30%;
    }
}

.plan-list ul li {
    font-size  : var(--hm-font-16);
    font-weight: 200;
}

.plan-list ul li::before {
    background   : linear-gradient(179.97deg, #b908f6 1.39%, #5b16bd 99.97%);
    border-radius: 50%;
    content      : "";
    display      : inline-block;
    font-weight  : bolder;
    height       : 5px;
    margin       : 2px 5px;
    width        : 5px;
}

.plan-cards {
    display        : var(--hm-display-flex);
    flex-wrap      : wrap;
    gap            : 40px;
    justify-content: center;
    margin         : 60px 0;
    padding        : 0 18px;
    width          : 100%;
}

.plan-card_item {
    background     : linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius  : 8px;
    display        : var(--hm-display-flex);
    flex-direction : column;
    flex-basis     : 100%;
    justify-content: space-between;
    text-align     : center;
    padding        : 30px;
}

@media screen and (min-width: 998px) {
    .plan-card_item {
        flex: 0 0 350px;
    }
}

@media screen and (max-width: 768px) {
    .plan-card_item:nth-child(1) {
        order: 2;
    }

    .plan-card_item:nth-child(2) {
        order: 1;
    }

    .plan-card_item:nth-child(3) {
        order: 3;
    }

    .plan-card_item {
        margin-bottom: 30px;
    }
}

.plan-card_desc {
    flex-grow    : 1;
    margin-bottom: 40px;
}

.plan-card_desc span {
    font-size  : var(--hm-font-32);
    font-weight: 700;
    line-height: 38px;
    margin-top : 5%;
}

.plan-card_desc .plan-price {
    font-size    : var(--hm-font-50);
    font-weight  : 700;
    line-height  : 60px;
    margin-bottom: 20px;
}

.plan-card_desc p+p {
    font-size  : var(--hm-font-16);
    font-weight: 300;
    line-height: 20px;
}

.plan-card_item .btn-main {
    font-size  : var(--hm-font-14);
    white-space: nowrap;
    margin     : 0 auto;
    max-width  : 300px;
    width      : 100%;
}

@media screen and (max-width: 550px) {
    #trimestral {
        padding-left : 8px;
        padding-right: 8px;
    }
}

.anual-plan {
    position: relative;
    z-index : 1;
}

.anual-plan::before {
    background    : linear-gradient(46deg, #5b16bd, #b908f6);
    border-radius : 50px;
    content       : "Economize 5 meses";
    font-size     : var(--hm-font-16);
    font-weight   : 700;
    left          : 0;
    letter-spacing: 0.1em;
    margin        : 0 auto;
    padding       : 2px;
    position      : absolute;
    right         : 0;
    top           : -12px;
    text-transform: uppercase;
    text-align    : center;
    width         : 215px;
}

.anual-plan::after {
    background    : linear-gradient(0deg, #5b16bd, #b908f6);
    border-radius : 8px;
    content       : "";
    inset         : 0;
    mask          : linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    padding       : 2px;
    position      : absolute;

    -webkit-mask          : linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    z-index               : -1;
}

.plan-paragraph {
    max-width: 700px;
    width    : 100%;
}