.premiere {
    background: linear-gradient(0, rgb(62 17 96), rgb(3 3 40));
    position  : relative;
}

/** premiere section desktop **/

#premiere-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    #premiere-desktop {
        display: block;
    }
}

.premiere-slide {
    display        : var(--hm-display-flex);
    gap            : 20px;
    flex-wrap      : wrap;
    justify-content: center;
    margin-bottom  : 25px;
    margin-top     : 50px;
}

@media screen and (min-width: 768px) {
    .premiere-slide {
        gap: 0px;
    }
}

.premiere-item {
    flex: 0 1 100%;
}

@media screen and (min-width: 768px) {
    .premiere-item {
        flex-basis: 50%;
    }
}

.premiere-item:nth-child(1) {
    padding-right: 18px;
}

.premiere-item h3 {
    font-size     : var(--hm-font-28);
    font-weight   : 700;
    letter-spacing: 3px;
    line-height   : 30px;
    margin        : 8px 0 4px;
}

.premiere-item>span {
    background-image: linear-gradient(to left, rgba(116, 9, 121, 1), rgba(185, 8, 246, 1), rgba(91, 28, 230, 1));
    display         : inline-block;
    font-weight     : 700;
    letter-spacing  : 1.6px;
    line-height     : 20px;
    margin-bottom   : 8px;
    padding         : 5px 5px 5px 8px;
    text-transform  : uppercase;
}

.promo-img {
    display      : none;
    margin-bottom: 10px;
}

@media screen and (min-width: 998px) {
    .promo-img {
        display: block;
    }
}

.premiere-item p {
    font-size     : var(--hm-font-14);
    letter-spacing: 1px;
    line-height   : 26px;
}

@media screen and (min-width: 998px) {
    .premiere-item p {
        font-size: var(--hm-font-16);
        max-width: 500px;
    }
}

.premiere-item ul {
    align-items    : center;
    display        : var(--hm-display-flex);
    gap            : 40px;
    justify-content: space-evenly;
    margin-top     : 20px;
    text-align     : center;
    width          : 100%;
}

.premiere-item ul li {
    text-align    : center;
    text-transform: uppercase;
    white-space   : nowrap;
}

.premiere-item_actor {
    border-radius: 50%;
    height       : 58px;
    margin       : 0 auto;
    width        : 58px;
}

@media screen and (min-width: 998px) {
    .premiere-item_actor {
        height: 86px;
        width : 86px;
    }
}

.premiere-item_actor img {
    border-radius: 50%;
    height       : 100%;
    object-fit   : cover;
}

.premiere-item ul li h4 {
    font-size     : var(--hm-font-12);
    font-weight   : 500;
    letter-spacing: 0.12px;
    line-height   : 16px;
    margin        : 4px 0px;
    white-space   : break-spaces;
}

@media screen and (min-width: 998px) {
    .premiere-item ul li h4 {
        font-size     : var(--hm-font-16);
        letter-spacing: 0.16px;
        line-height   : 20px;
        white-space   : nowrap;
    }
}

.premiere-item ul li p {
    font-size     : var(--hm-font-12);
    font-weight   : 700;
    letter-spacing: 1px;
    line-height   : 18px;
}

@media screen and (min-width: 998px) {
    .premiere-item ul li p {
        font-size: var(--hm-font-16);
    }
}

.premiere-item:nth-child(2) {
    align-items    : center;
    display        : var(--hm-display-flex);
    justify-content: center;
}

.premiere-item:nth-child(2) img {
    object-fit: cover;
}

.premiere-slide_btn {
    text-align: center;
}

#btn-nowSign {
    font-size: var(--hm-font-12);
}

.slide-btn {
    margin: 40px 0 50px;
}

/* end premiere desktop section */