/** premiere section desktop **/

#premiere-desktop {
    background: linear-gradient(0, rgb(62 17 96), rgb(3 3 40));
    display   : none;
    position  : relative;
}

@media screen and (min-width: 600px) {
    #premiere-desktop {
        display: block;
    }
}

.premiere-slide {
    display        : var(--hm-display-flex);
    gap            : 20px;
    justify-content: center;
    margin-bottom  : 25px;
    margin-top     : 50px;
}

@media screen and (min-width: 600px) {
    .premiere-slide {
        gap: 0px;
    }
}

.premiere-item {
    flex: 0 1 100%;
}

@media screen and (min-width: 768px) {
    .premiere-item {
        flex-basis: 50%;
    }
}

.premiere-item:nth-child(1) {
    padding-right: 18px;
}

.premiere-item h3 {
    font-size     : var(--hm-font-28);
    font-weight   : 700;
    letter-spacing: 3px;
    line-height   : 30px;
    margin        : 8px 0 4px;
}

.premiere-item>span {
    background-image: linear-gradient(to left, rgba(116, 9, 121, 1), rgba(185, 8, 246, 1), rgba(91, 28, 230, 1));
    display         : inline-block;
    font-weight     : 700;
    letter-spacing  : 1.6px;
    line-height     : 20px;
    margin-bottom   : 8px;
    padding         : 5px 5px 5px 8px;
    text-transform  : uppercase;
}

.promo-img {
    display      : none;
    margin-bottom: 10px;
}

@media screen and (min-width: 998px) {
    .promo-img {
        display: block;
    }
}

.premiere-item p {
    font-size     : var(--hm-font-14);
    letter-spacing: 1px;
    line-height   : 26px;
}

@media screen and (min-width: 998px) {
    .premiere-item p {
        font-size: var(--hm-font-16);
        max-width: 500px;
    }
}

.premiere-item:nth-child(2) {
    align-items    : center;
    display        : var(--hm-display-flex);
    justify-content: center;
}

.premiere-item:nth-child(2) img {
    object-fit: cover;
}

.premiere-slide_btn {
    text-align: center;
}

#btn-nowSign {
    font-size: var(--hm-font-12);
}

.slide-btn {
    margin    : 40px 0 50px;
    text-align: center;
}

.slide-btn span {
    font-size: var(--hm-font-24);
}

.dividerSlide {
    margin: 0 8px;
}

.dividerSlide,
.totalSlide {
    color  : var(--hm-white);
    opacity: 0.75;
}

.btn-arrow {
    color      : var(--hm-white);
    font-size  : var(--hm-font-24);
    margin-left: 16px;
    opacity    : 0.75;
    transition : var(--hm-transition);
}

.btn-arrow:hover {
    opacity: 1;
}

/* end premiere desktop section */

/* movie actors list*/
.movie-actor {
    display        : var(--hm-display-flex);
    gap            : 20px;
    justify-content: space-evenly;
    margin-top     : 20px;
    text-align     : center;
    width          : 100%;
}

.movie-actor li {
    text-align    : center;
    text-transform: uppercase;
}

.premiere-item_actor {
    border-radius: 50%;
    height       : 58px;
    margin       : 0 auto;
    width        : 58px;
}

@media screen and (min-width: 998px) {
    .premiere-item_actor {
        height: 86px;
        width : 86px;
    }
}

.premiere-item_actor img {
    border-radius: 50%;
    height       : 100%;
    object-fit   : cover;
}

.movie-actor li h4 {
    font-size     : var(--hm-font-12);
    font-weight   : 500;
    letter-spacing: 0.12px;
    line-height   : 16px;
    margin        : 4px 0px;
}

@media screen and (min-width: 998px) {
    .movie-actor li h4 {
        font-size     : var(--hm-font-16);
        letter-spacing: 0.16px;
        line-height   : 20px;
    }
}

.movie-actor li p {
    font-size     : var(--hm-font-12);
    font-weight   : 700;
    letter-spacing: 1px;
    line-height   : 18px;
}

@media screen and (min-width: 998px) {
    .movie-actor li p {
        font-size: var(--hm-font-16);
    }
}

/* end movie actors list*/

/* start premiere mobile section */
#premiere-mobile {
    display      : none;
    height       : 100%;
    position     : relative;
    padding-left : 0;
    padding-right: 0;
}

@media screen and (max-width: 600px) {
    #premiere-mobile {
        display: block;
    }
}

.premiere-mob_container {
    background: linear-gradient(0, rgb(62 17 96), rgb(3 3 40));

}

.realese-title {
    background-image: linear-gradient(to left, rgba(116, 9, 121, 1), rgba(185, 8, 246, 1), rgba(91, 28, 230, 1));
    font-weight     : 700;
    line-height     : 20px;
    letter-spacing  : 1.6px;
    margin-top      : 40px;
    padding         : 10px 0;
    text-align      : center;
    text-transform  : uppercase;
    width           : 100%;
}

.realese-container {
    background-image   : url("../../images/ajlt-s2cover-video-mob.avif");
    background-size    : cover;
    background-position: inherit;
    height             : 50vh;
    position           : relative;
    width              : 100%;
}

.realese-detail {
    background     : radial-gradient(50% 66.6% at 50% 20.45%, rgba(196, 6, 154, 0.65) 0%, rgb(62 17 96) 100%);
    border-radius  : 10px;
    backdrop-filter: blur(0px);
    margin         : -54px 15px 0 15px;
    min-height     : 360px;
    padding        : 5px 15px;
    z-index        : 1;
}

.realese-detail h3 {
    font-size     : var(--hm-font-24);
    font-weight   : 700;
    letter-spacing: 3px;
    line-height   : 24px;
    margin        : 8px 0 4px;
    text-align    : center;
}

.realese-detail p {
    font-size     : var(--hm-font-14);
    letter-spacing: 1px;
    line-height   : 24px;
}

.realese-btn {
    align-items    : center;
    background     : linear-gradient(180deg, rgb(62 17 96), rgba(3, 3, 40, 0.4));
    display        : var(--hm-display-flex);
    flex-direction : column;
    gap            : 40px;
    justify-content: center;
    padding-bottom : 40px;
    width          : 100%;
}

.realese-btn ul {
    display: var(--hm-display-flex);
    gap    : 20px;
}

.realese-btn ul a {
    color    : var(--hm-white);
    display  : inline-block;
    font-size: 0.5rem;
}

.realese-btn ul li:first-of-type a {
    opacity: 0.5;
}

/* end premiere mobile section */