.universe {
    display        : var(--hm-display-flex);
    flex-wrap      : wrap;
    justify-content: space-between;
    overflow-y     : hidden;
    overflow-x     : auto;
    position       : relative;
}

@media screen and (max-width: 574px) {
    .universe {
        flex-wrap: nowrap;
    }
}

.universe-card {
    cursor    : pointer;
    display   : inline-block;
    flex      : 0 0 85%;
    padding   : 20px;
    transition: 0.5s ease;
}

@media screen and (min-width: 574px) {
    .universe-card {
        flex         : 0 0 33.33%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 991px) {
    .universe-card {
        padding: 5px;
    }
}

.universe-card_img {
    display : inline-block;
    position: relative;
    width   : 100%;
}

.universe-card img {
    border-style: none;
    height      : auto;
    transition  : 0.5s ease;
    width       : 100%;
}

.poster-houver {
    bottom    : 0;
    left      : 0;
    opacity   : 0;
    position  : absolute;
    right     : 0;
    top       : 0;
    transition: 0.5s ease;
}

.universe-card:hover .poster-houver {
    opacity: 1;
}